/* ************************************************************* */
/* Meduim devices (tablets and ipads, 600px and up to 1399px) */
/* ************************************************************* */
@media only screen and (min-width: 600px) and (max-width: 1399px) {

    /* ***************** */
    /* MAIN PAGE STYLING */
    /* ***************** */

    .header {
        width: inherit;
    }
 
  
    /* ****************** */
    /* SECTION ONE SYLING */
    /* ****************** */
    .section-one article {
        background-image: none;
    }

    /* ****************** */
    /* SECTION TWO SYLING */
    /* ****************** */

    .section-two {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "section-two-heading section-two-heading"
            "section-two-card-1 section-two-card-2"
            "section-two-card-3 section-two-card-4"
            "section-two-card-5 section-two-card-6"
            "section-two-card-7 section-two-card-8";
    }

    .section-two-card-1 {
        grid-area: 2/span 1;
    }

    .section-two-card-2 {
        grid-area: 2/span 1;
    }

    .section-two-card-3 {
        grid-area: 3/span 1;
    }

    .section-two-card-4 {
        grid-area: 3/span 1;
    }

    .section-two-card-5 {
        grid-area: 4/span 1;
    }

    .section-two-card-6 {
        grid-area: 4/span 1;
    }

    /* ******************** */
    /* SECTION THREE SYLING */
    /* ******************** */

    .section-three {
        height: inherit;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-three article {
        width: 80vw;
        margin: auto;
        height: 35em;
     }

    .section-three .section-three-left {
        width: 60vw;
    }

    .section-three .section-three-right {
        display: none;
    }

    /* ******************* */
    /* SECTION FOUR SYLING */
    /* ******************* */

    .section-four {
        grid-template-columns: 1fr;
        grid-template-areas:
            "section-four-heading"
            "section-four-card-1"
            "section-four-card-2"
            "section-four-card-3"
            "section-four-button";
        column-gap: 0px;
        row-gap: 70px;
        padding-bottom: 100px;
    }

    .section-four-heading {
        grid-area: 1/span 1;
        margin: auto;
    }

    .section-four-card-1 {
        grid-area: 2/span 1;
        margin:auto;
     }

    .section-four-card-2 {
        grid-area: 3/span 1;
        margin: auto;
    }

    .section-four-card-3 {
        grid-area: 4/span 1;
        margin: auto;
    }

    .section-four-button {
        grid-area: 5/span 1;
        margin: auto;
    }

    /* ******************* */
    /* SECTION FIVE SYLING */
    /* ******************* */

    .section-five div {
        width: 60vw;
        margin: auto;
    }

    /* ****************** */
    /* SECTION SIX SYLING */
    /* ****************** */

    .section-six {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "section-six-heading section-six-heading"
            "section-six-card-1 section-six-card-2"
            "section-six-card-3 section-six-card-4";
        column-gap: 20px;
    }

    .section-six-heading {
        grid-area: 1/span 2;
    }

    .section-six-card-1 {
        grid-area: 2/span 1;
    }

    .section-six-card-2 {
        grid-area: 2/span 1;
    }

    .section-six-card-3 {
        grid-area: 3/span 1;
    }

    .section-six-card-4 {
        grid-area: 3/span 1;
    }



    /* ********************* */
    /* PROJECTS PAGE STYLING */
    /* ********************* */
    .projects-page-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "projects-section-heading projects-section-heading"
            "project-1 project-2"
            "project-3 project-4"
            "project-5 project-6"
            "project-7 project-8"
            "project-9 project-9";
    }

    .project-1 {
        grid-area: 2/span 1;
    }

    .project-2 {
        grid-area: 2/span 1;
    }

    .project-3 {
        grid-area: 3/span 1;
    }

    .project-4 {
        grid-area: 3/span 1;
    }

    .project-5 {
        grid-area: 4/span 1;
    }

    .project-6 {
        grid-area: 4/span 1;
    }

    .project-7 {
        grid-area: 5/span 1;
    }

    .project-8 {
        grid-area: 5/span 1;
    }

    .project-9 {
        grid-area: 6/span 2;
        margin: auto;
    }

}

