:root {
    --burger-menu-color: #414651;

    --text-color: black;
    --text-color-heading: black;
    --text-color-pharagraph: #535862;
    --text-color-subheading: #6941c6;
    --date-color-fourth-section: #181d27;
    --question-color-fifth-section: #181d27;

    --logo-text-color: black;

    --background-color-one: white;
    --background-color-two: #fafafa;

    --bttn-background-color: #ffffff;
    --bttn-text-color: #414651;
    --bttn-border-color: #d5d7da;
    --bttn-hover-color: #fafafa;

    --scroll-up-background-color:#13161b;
    --scroll-up-text-color: #FFFFFF;
    --scroll-up-backgound-hover:#373A41;

    --section-six-card-hover-color: #00000017;

    --dark-theme-image: none;
    --light-theme-image:inline-block;
}

:root:has(#theme-toggle:checked) {
    --burger-menu-color: #FFFFFF;

    --text-color: #94979c;
    --text-color-heading: white;
    --text-color-pharagraph: #94979c;
    --text-color-subheading: #cecfd2;
    --text-color-fourth-section: #94979c;
    --question-color-fifth-section: #ffffff;

    --logo-text-color: white;

    --background-color-one: #0C0E12;
    --background-color-two: #13161b;

    --bttn-background-color: #13161b;
    --bttn-text-color: #ffffff;
    --bttn-border-color: #373a41;
    --bttn-hover-color: #373a41;

    --scroll-up-background-color:#ffffff;
    --scroll-up-text-color: #414651;
    --scroll-up-backgound-hover:#FAFAFA;

    --section-six-card-hover-color: #6941c649;

    --dark-theme-image: inline-block;
    --light-theme-image: none;
}

html {
    margin: auto;
    font-family: "Inter";
    /* helps to crate smooth srolling */
    scroll-behavior: smooth;
}

/* ************ */
/* BODY LAYOUT  */
/* ************ */
.body-container {
    display: grid;
    grid-template-areas:
        /* body grid layout scheme */
        "header"
        "main-page-container"
        "footer";
    margin: 0;
}

/* ************************* */
/* HEADER/NAVIGATION STYLING */
/* ************************* */

.header-container {
    width: 100vw;
    background-color: var(--background-color-one);
    position: sticky;
    top: 0;
    height: 80px;
}

.header {
    grid-area: header;
    width: inherit;
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto;
    padding: 0 110px;
}

.header div {
    display: inline-block;
    margin-top: 28px;
    margin-bottom: 28px;
}

#nav-left {
    float: left;
    font-size: 24px;
}

#nav-left a {
    margin-left: 4.2px;
    letter-spacing: 0.6px;
    color: var(--logo-text-color);
}

#nav-right {
    float: right;
    font-size: 16px;
}

#nav-right a:not(.light-theme, #burger-menu, .dark-theme, #close-icon) {
    position: relative;
    bottom: 7px;
    margin-right: 16px;
}

#nav-right input[type="checkbox"] {
    display: none;
}

/* Hide the SVG when the checkbox is checked */
/* label input[type="checkbox"]:checked~svg#light-theme {
    display: none;
} */

.dark-theme {
    display: var(--dark-theme-image);
}

.light-theme {
    display: var(--light-theme-image);
}

/* label input[type="checkbox"]:checked~svg#dark-theme {
    display: inline;
} */

#burger-menu {
    display: none;
}

#burger-menu path{
    stroke: var(--burger-menu-color)
}

#close-icon {
    display: none;
}

header div.mobile-nav-container {
    position: fixed; /* or absolute */
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--background-color-one);
    margin: 0;
    opacity: 0;
    transform: translateY(-5%);
    pointer-events: none;
    transition: opacity 1s ease, transform 1s ease;
    z-index: 1000;
}

header div.menu-visible {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: auto;
 }

div.mobile-nav-container div.mobile-nav {
    display:grid;
    grid-template-areas:  
    "mobile-nav-main mobile-nav-aside";
    grid-template-columns:  14fr 1fr;
    margin: 0px;
}

div.mobile-nav div.mobile-nav-main {
    grid-area: mobile-nav-main;
    display: grid;
    margin:0px;
}

div.mobile-nav-main a {
    color: var(--text-color-pharagraph);
    padding: 20px;
    padding-bottom: 0px;
}

div.mobile-nav-main a:hover {
    background-color: #53389E;
    color:white;
}

div.mobile-nav div.mobile-nav-aside {
    grid-area:mobile-nav-aside;
    display:grid;
    margin:0px;
    background-color: #53389E;
}

div.mobile-nav-aside svg {
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.mobile-nav-main a:last-of-type{
    margin-bottom: 200px;
}

div.mobile-nav-aside label{
    margin-bottom: 200px;
}

/* links inside nav element  */
nav div a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
}


/* Main container grid */
.main-page-container {
    grid-area: main-page-container;
    display: grid;
    grid-template-areas:
        /* body grid layout scheme */
        "section-container-one"
        "section-container-two"
        "section-container-three"
        "section-container-four"
        "section-container-five"
        "section-container-six";
    margin: 0px;
}

.section-container-one,
.section-container-three,
.section-container-five,
.section-container-six {
    width: 100vw;
    background-color: var(--background-color-one);
}

.section-container-two,
.section-container-four {
    width: 100vw;
    background-color: var(--background-color-two);
}

.section-container-one {
    grid-area: section-container-one;
}

.section-container-two {
    grid-area: section-container-two;
}

.section-container-three {
    grid-area: section-container-three;
}

.section-container-four {
    grid-area: section-container-four;
}

.section-container-five {
    grid-area: section-container-five;
}

.section-container-six {
    grid-area: section-container-six;
}


.scroll-up {
    position:fixed;
    display: none;
    background-color: var(--scroll-up-background-color);
    border-radius: 6px;
    padding: 8px 13px;
    text-align: center;
    left: 95vw;
    top: 90vh;
}

.scroll-up svg path {
    fill: var(--scroll-up-text-color);
}
/* ******************* */
/* SECTION ONE STYLING */
/* ******************* */
.section-one {
    width: inherit;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 110px;
    padding-bottom: 100px;
    margin: auto;
}

.section-one article {
    height: 640px;
    background-image: url("../assets/section-images/first-section/office-desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding: 0px;
}

.section-one h1 {
    font-size: 60px;
    padding-top: 157px;
    padding-left: 2px;
    margin-bottom: 0px;
    width: 750px;
    color: var(--text-color-heading);
}

.section-one p {
    font-size: 20px;
    font-weight: 400;
    word-spacing: 2.2px;
    padding-top: 7px;
    padding-left: 2px;
    line-height: 27px;
    color: var(--text-color-pharagraph);
    width: 550px;
}

.section-one a {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 0.8rem;
    margin-top: 30px;
}

.section-one a:nth-of-type(1) {
    background-color: rgba(127, 86, 217, 1);
    border: 0.11rem rgba(127, 86, 217, 1) solid;
    color: white;
    font-size: 18px;
    width: 9.2rem;
}

.section-one a:nth-of-type(2) {
    background-color: var(--bttn-background-color);
    color: var(--bttn-text-color);
    border: 0.11rem var(--bttn-border-color) solid;
    font-size: 18px;
    width: 7.7rem;
    margin-left: 0.4rem;
    font-weight: 600;
}

/* ******************* */
/* SECTION TWO STYLING */
/* ******************* */
.section-two {
    display: grid;
    grid-template-areas:
        "section-two-heading section-two-heading section-two-heading"
        "section-two-card-1 section-two-card-2 section-two-card-3"
        "section-two-card-4 section-two-card-5 section-two-card-6";
    gap: 0px 25px;
    width: inherit;
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 110px;
    padding-bottom: 30px;
}

.section-two-card-1 {
    grid-area: section-two-card-1;
}

.section-two-card-2 {
    grid-area: section-two-card-2;
}

.section-two-card-3 {
    grid-area: section-two-card-3;
}

.section-two-card-4 {
    grid-area: section-two-card-4;
}

.section-two-card-5 {
    grid-area: section-two-card-5;
}

.section-two-card-6 {
    grid-area: section-two-card-6;
}

.section-two-heading {
    grid-area: section-two-heading;
    padding-bottom: 70px;
}

.section-two-heading a {
    color: var(--text-color-subheading);
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 100px;
}

.section-two-heading h2 {
    text-align: center;
    font-weight: 600;
    color: var(--text-color-heading);
    font-size: 37px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.section-two-heading p {
    color: var(--text-color-pharagraph);
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.section-two-card {
    padding-bottom: 50px;
}

.section-two-card img {
    display: block;
    margin: auto;
    background-color: #7f56d9;
    padding: 13px;
    border-radius: 10px;
}

.section-two-card h3 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.1px;
    margin-top: 22px;
    margin-bottom: 10px;
    color: var(--text-color-heading);
}

.section-two-card p {
    text-align: center;
    color: var(--text-color-pharagraph);
}

/* ********************** */
/* SECTION TRHEE STYLING */
/* ********************* */
.section-three {
    width: inherit;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 110px;
    margin: auto;
}

.section-three article {
    width: 1216px;
    height: 448px;
    margin: 100px 0;
    background-color: #53389e;
    color: white;
    border-radius: 25px;
}

.slide-one {
    display:block
}

.slide-two, .slide-three {
    display: none;
}

.section-three-left {
    width: 608px;
    height: 306px;
    float: left;
    margin: 70px 64px;
}

.section-three-left h2 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 37px;
    letter-spacing: 0.8px;
}

.section-three-left a {
    font-size: 18px;
    letter-spacing: 0.6px;
}

.section-three-left p {
    font-weight: 400;
    color: #e9d7fe;
    margin-top: 12px;
}

.section-three-right img {
    float: right;
    border-radius: 0 25px 25px 0;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 13px;
    margin-top: 20px;
    display: inline-block;
}

.dot-active {
    background-color: white;
}

.dot-inactive {
    background-color: #9e77ed;
}

/* ********************* */
/* SECTION FOUR STYLING */
/* ******************** */
.section-four {
    display: grid;
    grid-template-areas:
        "section-four-heading section-four-heading section-four-heading"
        "project-card project-card project-card "
        "section-four-button section-four-button section-four-button ";
    gap: 0 30px;
    width: inherit;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 110px;
    margin: auto;
}


.section-four-heading {
    grid-area: section-four-heading;
    text-align: center;
}

.section-four-heading a {
    width: inherit;
    display: block;
    margin-top: 95px;
    font-weight: 600;
    color: var(--text-color-subheading);
}

.section-four-heading h2 {
    display: block;
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 25px;
    color: var(--text-color-heading);
}

.section-four-heading p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
    display: block;
    width: 800px;
    margin: auto;
    color: var(--text-color-pharagraph);
    margin-bottom: 70px;
}

.project-card {
    max-width: 384px;
}

.project-card a {
    font-size: 14px;
    display: block;
    color: var(--text-color-subheading);
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 10px;
}

.project-card h3 {
    font-size: 24px;
    letter-spacing: 0.2px;
    display: inline;
    color: var(--text-color-heading);
}

.project-card h3+svg {
    float: right;
    cursor: pointer;
}

.project-card h3+svg>path {
    stroke: var(--logo-text-color);
}

.project-card p {
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 23px;
    margin-top: 10px;
    color: var(--text-color-pharagraph);
}

.project-card .project-duration {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color-fourth-section);
    margin-top: 28px;
    margin-left: 2px;
    margin-bottom: 0px;
}

.project-card .project-date {
    font-weight: 400;
    color: var(--text-color-pharagraph);
    margin-top: 5px;
    margin-left: 2px;
}

.section-four-button {
    grid-area: section-four-button;
    margin: 78px auto;
}

.section-four-button {
    text-decoration: none;
    border: none;
    color: #ffffff;
    background-color: #7f56d9;
    font-weight: 600;
    font-size: 16px;
    padding: 0.9rem 1.3rem;
    border-radius: 0.4rem;
    margin-bottom: 92px;
    cursor: pointer;
}

/* ********************* */
/* SECTION FIVE STYLING */
/* ******************** */
.section-five {
    width: inherit;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 110px;
    padding-bottom: 60px;
    margin: auto;
}

.section-five div {
    width: 768px;
    margin: auto;
}

.section-five h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 37px;
    font-weight: 600;
    color: var(--text-color-heading);
}

.section-five>p {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: var(--text-color-pharagraph);
    margin-bottom: 45px;
}

.section-five article {
    padding: 21.8px 0;
    border-top: 1px #e9eaeb solid;
}

.section-five article:nth-of-type(1) {
    border-top: none;
}

.section-five article h3 {
    color: var(--question-color-fifth-section);
}

.section-five article p {
    color: var(--text-color-pharagraph);
}

article.q-container {
    width: inherit;
    display: grid;
    grid-template-areas:
        "question q-button"
        "q-answer q-button";
    grid-template-columns: 11fr 1fr;
    row-gap: 10px;
    padding-bottom: 0px;
    margin-bottom: 25px;
}

.question {
    margin-bottom: 0px;
    grid-area: question;
    line-height: 25px;
    margin-top: 0px;
}

.q-button {
    grid-area: q-button;
    margin-left: 40px;
}

.q-plus-button {
    display: block;
}

.q-minus-button{
    display:none;
}

.q-answer {
    grid-area: q-answer;
    font-size: 15.4px;
    line-height: 24px;
    margin-top: 0px;
    display: none;
}

/* ******************** */
/* SECTION SIX STYLING */
/* ******************* */
.section-six {
    display: grid;
    grid-template-areas:
        "section-six-heading section-six-heading section-six-heading section-six-heading"
        "section-six-card-1 section-six-card-2 section-six-card-3 section-six-card-4 ";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 40px;
    width: inherit;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0px 110px;
    padding-bottom: 75px;
    margin: auto;
}

.section-six-card-1 {
    grid-area: section-six-card-1;
}

.section-six-card-2 {
    grid-area: section-six-card-2;
}

.section-six-card-3 {
    grid-area: section-six-card-3;
}

.section-six-card-4 {
    grid-area: section-six-card-4;
}

.section-six-heading {
    grid-area: section-six-heading;
    margin-top: 103px;
}

.section-six-heading a {
    color: var(--text-color-subheading);
    font-weight: 600;
}

.section-six-heading h2 {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 13px;
    color: var(--text-color-heading);
}

.section-six-heading p {
    font-size: 20px;
    letter-spacing: 0.3px;
    color: var(--text-color-pharagraph);
}

.section-six-card {
    background-color: var(--background-color-two);
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 16px;
    height: 290px;
    cursor: pointer;
}

.section-six-card img {
    background-color: #7f56d9;
    padding: 13px;
    border-radius: 10px;
}

.section-six-card h3 {
    margin-top: 64px;
    margin-bottom: 0px;
    color: var(--text-color-heading);
}

.section-six-card p {
    font-weight: 400;
    color: var(--text-color-pharagraph);
    margin-top: 15px;
}

.section-six-card a {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color-subheading);
}

/* ************* */
/* FOOTER STYLES */
/* ************* */

.footer-container {
    width: 100vw;
    background-color: #53389e;
}

.footer {
    grid-area: footer;
    color: white;
    padding: 0px 110px;
    width: inherit;
    max-width: 1220px;
    margin: auto;
    padding-top: 65px;
    display: grid;
    grid-template-areas: "footer-left footer-right";
    grid-template-columns: 1fr;
}

.footer p {
    word-spacing: 2.2px;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer div {
    display: inline;
    padding-top: 30px;
    padding-bottom: 45px;
    border-top: 0.2px white solid;
}

.footer-right svg {
    cursor: pointer;
    margin-left: 20px;
}

/* ******************** */
/* PROJECT PAGE STYLING */
/* ******************** */
.projects-body-container {
    display: grid;
    grid-template-areas:
        "header"
        "projects-page-container"
        "footer";
    margin: 0px;
}

.projects-main-container {
    width: 100vw;
    background-color: var(--background-color-one);
}

.projects-page-container {
    grid-area: projects-page-container;
    display: grid;
    grid-template-areas:
        "projects-section-heading"
        "projects-container";
     gap: 40px 30px;
    padding: 0 110px;
    width: inherit;
    max-width: 1220px;
    margin: auto;
}

.projects-container{
    grid-area: projects-container;
    display:grid; 
    grid-template-areas: 
    "project-card project-card project-card"
    "project-card project-card project-card"
    "project-card project-card project-card";
    gap: 40px 30px;
    margin: auto;
}

.projects-page-container {
    padding-bottom: 80px;
}

.projects-section-heading {
    grid-area: projects-section-heading;
    margin-top: 96px;
    margin-bottom: 20px;
}

.projects-section-heading>a {
    display: block;
    text-align: center;
    font-weight: 600;
    color: var(--text-color-subheading);
}

.projects-section-heading h1 {
    text-align: center;
    font-size: 37px;
    font-weight: 600;
    margin-top: 15px;
    color: var(--text-color-heading);
}

.projects-section-heading p {
    text-align: center;
    font-weight: 400;
    color: var(--text-color-pharagraph);
    font-size: 21px;
}

.filter {
    border-bottom: 2px solid;
    border-bottom-color: #e9eaeb;
    margin-top: 70px;
    padding-bottom: 15px;
}

.filter a {
    padding: 0px 8px;
    color: #717680;
}

.filter .filter-active {
    padding-bottom: 15px;
    border-bottom: 2px #6941c6 solid;
    color: #6941c6;
}

@media only screen and (min-width: 1440px) {
    .projects-section-heading p {
        width: 720px;
        margin: auto;
    }
}

@media only screen and (max-width:374px) {
   .body-container {
    display:none;
   }
}

@media only screen and (min-width: 600px) {

    #nav-right a:hover {
        color: #53389e;
        cursor: pointer;
    }

    #nav-right label:hover svg.light-theme>path {
        stroke: #6941c6;
    }

    #nav-right label:hover svg.dark-theme>path {
        fill: #6941c6;
        stroke: #6941c6;
    }

    .scroll-up:hover {
        cursor: pointer;
        background-color: var(--scroll-up-backgound-hover);
    }

    .section-one a:nth-of-type(1):hover {
        background-color: #6941c6;
    }

    .section-one a:nth-of-type(2):hover {
        background-color: var(--bttn-hover-color);
    }

    .dot-inactive:hover {
        background-color: white;
    }

    .dot:hover{
        cursor: pointer;
    }

    .project-card svg:hover path {
        stroke: #6941c6;
    }

    .section-four-button:hover {
        background-color: #6941c6;
    }


    .section-five article>svg:hover path {
        stroke: #6941c6;
    }

    .q-container:hover h3{
        color: #53389e;
        cursor: pointer;
    }

    .q-container:hover svg>path{
        stroke: #6941c6;
    }

    .q-container:hover{
        cursor: pointer;
    }

    .section-six article.section-six-card:hover {
        cursor:pointer;
        box-shadow:var(--section-six-card-hover-color) 0px 4px 12px;
    }

    .footer-right svg:hover path {
        fill: white;
    }


    .filter a:hover {
        padding-bottom: 15px;
        border-bottom: 2px #6941c6 solid;
        color: #6941c6;
        cursor: pointer;
    }
}