html {
    width: 1440px;
    /* margin:auto; */
    font-family: 'Inter';

    /* helps to crate smooth srolling */
    scroll-behavior: smooth;
}


/* body container  */
.body-container {
    display: grid;
    grid-template-areas:
        /* body grid layout scheme */
        "header"
        "main-container"
        "footer";
    margin: 0px;
}


/* styles for three main rows of a grid */
/* .header,
.main,
.footer {
} */


.header {
    height: 80px;
}

.header div  {
    display: inline-block;
    margin-top: 28px;
    margin-bottom: 28px;
}

#nav-left  {
    float: left;
    margin-left: 110px;
    font-size:24px;
    
}

#nav-left a {
    margin-left: 8px;
}

#nav-right {
    float:right;
    margin-right: 110px;
    font-size: 16px;     
}

#nav-right a {
   margin-right: 17.3px;
   position: relative;
   bottom: 7px;
 }

#nav-right img {
    width: 24px;
    height: 24px;
}

/* links inside nav element  */
nav>div>a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
}

/* Main container grid */
.main-container {
    display: grid;
    grid-template-areas:
        /* body grid layout scheme */
        "section-one"
        "section-two"
        "section-three"
        "section-four"
        "section-five"
        "section-six";
    margin: 0px;

    background-color: #53389E;
}

.section-one {
    background-color: antiquewhite;
}

.section-two {
    background-color: aquamarine;
}

.section-three {
    background-color: azure;
}

.section-four {
    background-color: blue;
}

.section-five {
    background-color: blueviolet;
}

.section-six {
    background-color: azure;
}
.footer {
    background-color: #53389E;
}

/* Header */

